$primary: rgb(253 178 1);
$secondary: #756e62;
$danger: #9b2100;
$info: #6683b7;

$body-bg: rgb(48 48 48);
$body-color: rgb(252 252 252);

$card-bg: rgb(98 98 98);
$card-border-width: 0;
$card-border-radius: .125rem;
$card-cap-bg: rgba(0, 0, 0, 0.2);
$card-box-shadow: null;

$input-bg: rgb(113 113 113);
$input-border-color: rgb(173 173 173);
$input-border-radius: 0;
$input-focus-bg: $input-bg;
$input-focus-border-color: $primary;
$input-focus-color: #ffffff;
$input-placeholder-color: $input-border-color;

$btn-border-radius: 0;
$btn-font-weight: 700;

.min-vh-30 {
  min-height: 30vh !important;
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

body {
  font-size: 15px;
  font-family: 'Roboto', 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.form-control,
.form-select {
  border: 1px solid $input-border-color;
  transition: all 0.2s;

  &:focus {
    border: 1px solid $primary;
    box-shadow: none;
  }

  &:hover {
    border: 1px solid $primary;
    box-shadow: none;
  }
}

.form-control-plaintext {
  color: $input-color;
}

.form-switch {
  .form-check-input {
    background-color: $input-bg;
    border: 2px solid $input-border-color;
    height: 1.5rem;
    width: 2.75rem;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");

    &:focus {
      box-shadow: none;
      --bs-focus-ring-color: transparent;
    }

    &:checked {
      background-color: $primary;
      border: 2px solid $primary;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
    }

    &:active {
      filter: brightness(1.2);
    }
  }

  .form-check-label {
    padding-top: 0.15rem;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.85rem;
    color: $input-border-color;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $body-bg;
}

::-webkit-scrollbar-thumb {
  background: $body-bg;
  border-radius: 6px;
  border: 3px solid $body-bg;

  &:hover {
    background: $primary;
  }
}