.jr-upload-zone {
  height: 300px;
  border: 2px dashed var(--bs-border-color);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: var(--bs-primary);
    background-color: rgba(255, 157, 0, 0.05);
  }
}