<div (click)="fileInput.click()" (drop)="onFileDrop($event)" class="mt-2 min-vh-30 d-flex flex-column align-items-center justify-content-center form-control">
  <input #fileInput type="file" (change)="onFileChange($event)" class="d-none" [accept]="allowedTypes" [disabled]="searching">
  @if (searching) {
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span i18n class="visually-hidden">Поиск...</span>
  </div>
  } @else if (file) {
  <span class="fw-bold">{{file.name}}</span>
  <span class="small">{{file.size | bytes}}</span>
  } @else {
  <span i18n class="fw-bold">Кликните</span>
  <span i18n class="small">или перетащите</span>
  <span i18n class="small">или нажмите Ctrl + V</span>
  }
</div>

<div class="mt-2">
  <input [(ngModel)]="url" (change)="onUrlChange($event)" [disabled]="searching" type="url" maxlength="500" class="form-control" placeholder="Или вставьте прямую ссылку..." />
</div>

<div class="mt-2 d-flex justify-content-end position-relative">
  <button [disabled]="isSearchDisabled()" (click)="search()" class="btn btn-primary text-uppercase position-relative" style="z-index: 10;">
    <span i18n>Найти</span>
  </button>

  @for (item of isDuplicates(); track $index) {
  <div class="fall-css-animation" [style.animation-delay]="$index * 0.2 + 's'">
    🪗
  </div>
  }
</div>