<div (click)="this.fileInput.nativeElement.click()" (drop)="onFileDrop($event)" class="mt-2 min-vh-30 d-flex flex-column align-items-center justify-content-center form-control">
  <input #fileInput type="file" (change)="onFileChange($event)" class="d-none" [accept]="allowedTypes" [disabled]="searching">
  @if (searching) {
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span i18n class="visually-hidden">Поиск...</span>
  </div>
  } @else if (file) {
  <span class="fw-bold">{{file.name}}</span>
  <span class="small">{{file.size | bytes}}</span>
  } @else {
  <span i18n class="fw-bold">Кликните</span>
  <span i18n class="small">или перетащите</span>
  <span i18n class="small">или нажмите Ctrl + V</span>
  }
</div>

<div class="mt-2">
  <input [(ngModel)]="url" (change)="onUrlChange($event)" [disabled]="searching" type="url" maxlength="500" class="form-control" placeholder="Или вставьте прямую ссылку..." />
</div>

<div class="mt-2 d-flex justify-content-end position-relative">
  <div class="btn-group" role="group" style="z-index: 10;">
    <button [disabled]="isSearchDisabled()" (click)="search(0.96)" class="btn btn-primary text-uppercase position-relative">
      <span i18n>Найти</span>
    </button>

    <div class="btn-group" role="group">
      <button [disabled]="isSearchDisabled()" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu">
        <li>
          <button (click)="search(0.90)" class="dropdown-item">
            <span i18n>Приблизительные</span>
          </button>
        </li>
        <li>
          <button (click)="search(0.95)" class="dropdown-item">
            <span i18n>Похожие</span>
          </button>
        </li>
        <li>
          <button (click)="search(0.99)" class="dropdown-item">
            <span i18n>Точные</span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  @for (item of isDuplicates(); track $index) {
  <div class="fall-css-animation" [style.animation-delay]="$index * 0.2 + 's'">
    🪗
  </div>
  }
</div>