.fall-css-animation {
  position: absolute;
  top: 0;
  right: 1.5rem;
  font-size: 2.5rem;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  animation:
    fall-down 2.5s linear forwards,
    wave-move 0.6s ease-in-out infinite alternate;
  will-change: transform, opacity;
}

@keyframes fall-down {
  0% {
    top: -10%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: 40vh;
    opacity: 0;
  }
}

@keyframes wave-move {
  0% {
    transform: translateX(0) rotate(-360deg);
  }

  100% {
    transform: translateX(-10vw) rotate(360deg);
  }
}