<div class="position-relative">
  @if (historyRecordExtended.url) {
  <a [href]="historyRecordExtended.url" target="_blank">
    @if (historyRecordExtended.isVideo) { <video [src]="historyRecordExtended.url" class="img-fluid bg-dark"></video> }
    @else if(!historyRecordExtended.isVideo) { <img [src]="historyRecordExtended.url" class="img-fluid bg-dark" /> }
  </a>
  } @else if (historyRecordExtended.fileName) {
  <div class="ratio ratio-1x1">
    <div class="placeholder w-100 h-100 p-1 rounded d-flex align-items-center justify-content-center text-center" style="cursor: default;">
      <span class="w-100 text-danger small">{{historyRecordExtended.fileName}}</span>
    </div>
  </div>
  }

  <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-info" [class.bg-info]="historyRecordExtended.results.length === 0" [class.bg-danger]="historyRecordExtended.results.length > 0">
    @if (historyRecordExtended.url) { <i class="bi bi-link-45deg"></i> }
    @else if(historyRecordExtended.fileName) {<i class="bi bi-file-earmark-image"></i>}
    |
    {{historyRecordExtended.createdAt | date:'short'}}
    @if (historyRecordExtended.results.length > 0) {
    |
    {{historyRecordExtended.results.length}}🪗
    }
  </span>

  @if (historyRecordExtended.results.length > 0) {
  <div class="row g-1 mt-1">
    @for (result of historyRecordExtended.results; track $index) {
    <div class="col-4">
      <a [href]="getPostUrl(result)" target="_blank">
        <img [src]="getResultImageUrl(result)" class="img-fluid object-fit-cover w-100 h-100 bg-dark" />
      </a>
    </div>
    }
  </div>
  }
</div>